%% -*- erlang -*-

{deps, [
    % let it always be the first
    {lager, "2.0.0",
        {git, "https://github.com/EchoTeam/lager", "12433c0deca18a7475215b01f226a213cbdc2b09"}},
    {mod_gen, "0.1.*",
        {git, "git@github.com:EchoTeam/mod_gen.git", {tag, "v0.1.0"}}}
]}.
{pre_hooks, [{eunit, "make install"}, {compile, "make ocaml"}]}.
{post_hooks, [{compile, "make install"}, {clean, "make clean-ocaml uninstall"}]}.

{cover_enabled, true}.
