%% -*- erlang -*-
%% vim: set ts=4 sts=4 sw=4 et ft=erlang:

{deps, [
    % let it always be the first
    {lager, "2.0.*",
        {git, "git://github.com/basho/lager.git", {tag, "2.0.1"}}},
    {stats, "1.0.0",
        {git, "git@github.com:EchoTeam/stats.git", {branch, master}}},
    {corman, ".*",
        {git, "git@github.com:EchoTeam/corman.git", {branch, master}}},
    {utils, "0.1.0",
        {git, "git@github.com:EchoTeam/utils.git", {tag, "v0.1.0"}}},
    {folsom, "0.7.4",
        {git, "git@github.com:EchoTeam/folsom.git", "8125fb14d9"}},
    {ocaml_erlang_port, ".*",
        {git, "git@github.com:EchoTeam/ocaml-erlang-port.git", {branch, master}}},
    {'ocaml-jskitlib', ".*",
        {git, "git@github.com:EchoTeam/ocaml-jskitlib.git", {branch, master}}, [raw]},
    {mod_gen, "0.1.*",
        {git, "git@github.com:EchoTeam/mod_gen.git", {tag, "v0.1.0"}}},
    {fbi_common, ".*",
        {git, "git@github.com:EchoTeam/fbi_common.git", {branch, "master"}}}
]}.

{pre_hooks, [{eunit, "make install"}, {compile, "make ocaml"}]}.
{post_hooks, [{compile, "make install"}, {clean, "make clean-ocaml uninstall"}]}.

{cover_enabled, true}.
{cover_export_enabled, true}.
{eunit_compile_opts, [export_all]}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
